img {
    display: block;
    margin: 30px auto;
    width: 30%;
}

td {
    text-align: right;
}

.title-detail {
    background-color: #E9ECEF;
    color: #212529;
    text-align: center;
}

.modal-content {
    background-color: #fcfdf9;
}

.modal-header {
    background-color: #E9ECEF;
}

h5 {
    font-weight: bold;
    text-transform: uppercase;
}

/* Modal Result */

.jumbotron {
    padding: 2rem;
    text-align: center;
}

span:nth-child(2) {
    color: #212529;
    font-size: 25pt;
}

p {
    font-weight: bold;
    font-size: 13pt;
    text-align: center;
}

input {
    margin-bottom: 10px;
}